<%= form_for @event do |e| %>
  <div class='row'>
		<div class='col-md-6'>
			<%= e.label :name %>
			<%= e.text_field :name, :class => 'form-control' %>
  	</div>

		<div class='col-md-3'>
			<%= e.label :location %>
			<%= e.text_field :location, :class => 'form-control' %>
		</div>
	
		<div class='col-md-3'>	
			<%= e.label :status %>
			<%= e.select :status, options_for_select([['Upcoming','1'], ['Old', '0']]), {}, {:class => 'form-control'} %>	
		</div>

	</div>

	<div class='row'>
		<div class='col-md-6'>
			<%= e.label :date %>
			<%= e.text_field :date, :class => 'form-control' %>
		</div>
		<div class='col-md-4'>
			<%= e.label :schedule %>
			<%= e.file_field :schedule %>
		</div>
	</div>

	<div class='row'>
		<div class='col-md-6'>
			<%= e.label :description %>
			<%= e.text_area :description %>
		</div>
	</div>

	<div class='row'>
		<div class='col-md-6'>
			<%= e.submit('Save', :class => 'btn btn-primary') %>
 		</div>
	</div>

<% end %>
