<h><%= @event.name %> </h1>
<%= link_to('Edit', edit_event_path(@event)) %> <%= link_to('Delete', event_path(@event), method: :delete, data: { confirm: 'Are you sure?' }) %>
<p>Date: <%= @event.date %></p> 
<p><%= @event.description %></p>

<h2>Hotels for Event</h2>
<% @event.hotels.each do |h| %>
	<p><%= h.name %> <%= link_to('Delete', [h.event, h], method: :delete, data: { confirm: 'Are you sure?' }) %> <%= link_to("edit", edit_event_hotel_path(h.event, h)) %></p>
	<p>Price: <%= h.cost %></p>
	<p>Address: <%= h.address %></p>
	<p>Number: <%= h.number %></p>
	<p>Website: <%= h.link %></p>
  <hr>
<% end %>

<h1>Add Hotel Information</h1>
<%= render 'hotels/form' %>
