<%= form_for([@event,  @event.hotels.build]) do |h| %>
 <div class='row'>
    <div class='col-md-5'>
      <%= h.label :name %>
      <%= h.text_field :name, :class => 'form-control' %>
    </div>

    <div class='col-md-4'>
      <%= h.label :dates %>
      <%= h.text_field :dates, :class => 'form-control' %>
    </div>
  </div>

  <div class='row'>
    <div class='col-md-5'>
      <%= h.label :cost %>
      <%= h.text_field :cost, :class => 'form-control' %>
    </div>

    <div class='col-md-4'>
      <%= h.label :link %>
      <%= h.text_field :link, :class => 'form-control' %>
    </div>
  </div>

  <div class='row'>
    <div class='col-md-5'>
      <%= h.label :number %>
      <%= h.text_field :number, :class => 'form-control' %>
    </div>

    <div class='col-md-4'>
      <%= h.label :address %>
      <%= h.text_field :address, :class => 'form-control' %>
    </div>
  </div>

  <%= h.submit 'Submit', :class => 'btn btn-primary' %>
<% end %>
