<div class="form-group ring-inputs">
  <%= form_for @ring do |r|  %>
    <div class='row input-container'>
      <div class='col-md-6'>
        <%= r.label :ring_number %>
        <%= r.text_field :ring_number, :class => 'form-control', :placeholder => 'Ring Number' %>
      </div>
      <div class='col-md-6'>
        <%= r.label :ring_rank %>
        <%= r.text_field :ring_rank, :class => 'form-control', :placeholder => 'Ring Number' %>
      </div>
    </div>

    <div class='row input-container'>
      <div class='col-md-6'>
        <%= r.label :ring_age%>
        <%= r.text_field :ring_age, :class => 'form-control', :placeholder => 'Ring Number' %>
      </div>

			<div class='col-md-6'>
       <%= r.label :division %>
       <%= r.text_field :division, :class => 'form-control', :placeholder => 'Divison' %>
    	</div>
		</div>

		<div class='row input-container'>
      <div class='col-md-6'>
        <%= r.label :ring_gender %>
        <%= r.text_field :ring_gender, :class => 'form-control', :placeholder => 'Ring Number' %>
      </div>
			<div class='col-md-6'>
				<%= r.label :status %><br>
				<%= r.select :status, options_for_select([['Upcoming','0'], ['Current', '1']]), {}, {:class => 'form-control'} %>
			</div>
    </div>

		<div class='row input-container'>
    	<%= r.submit 'Submit', :class => 'btn btn-primary' %>
  	</div>
	<% end %>
</div>
